{% if questionlist %}
  <table border=1>
  	<tr>
    <th>id</th>
  	<th>name</th>
  	<th>age</th>
  	<th>gender</th>
  	<th>subject</th>
  	<th>address</th>
    <th>city</th>
    <th>image</th>
  </tr>
  
  	{% for question in questionlist %}
     <tr>
     	<td>{{ question.id }}</td>
        	<td>{{ question.name }}</td>
            <td>{{ question.dob}}</td>
            <td>{{question.gender}}</td>
            <td>{{question.hobbies}}</td>
            <td>{{question.adress}}</td>
            <td>{{question.city}}</td>
            <td><img src="/media/{{question.aimage}}" style="width:200px;height:200px;"/></td>
            
            <td>
            <a href ="/home/delete/{{question.id}}"><img src="https://cdn2.iconfinder.com/data/icons/e-business-helper/240/627249-delete3-512.png" height="18" width="18">Delete</a><td>
            <td>
            <a href ="/home/edit/{{question.id}}"><img src="https://cdn1.iconfinder.com/data/icons/basic-ui-elements-color/700/09_pencil-512.png" height="18" width="18">Edit</a>
        </td>
        </tr>
        {% endfor %}
       
            </table>
    
       {% else %}
    
    <p>no polls are available</p>
    
         {% endif %}